<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Grupos
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="grupoCategoria">
      <ion-segment-button value="tarefas">
        Tarefas
      </ion-segment-button>
      <ion-segment-button value="usuarios">
        Usuarios
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="bg-branco">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div [ngSwitch]="grupoCategoria">
    <ion-list *ngSwitchCase="'tarefas'" style="color: #000">

      <ion-item *ngFor="let item of meusGrupoTarefa" [ngStyle]="{'background-color': item.cor}" (click)="abreGrupo(item)">
        <ion-icon name="md-contacts" item-left></ion-icon>
          {{item.nome}}
        <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
      </ion-item>


      <ion-fab center bottom>
        <button ion-fab color="light" (click)="openGrupoTarefaModal()"><ion-icon name="person-add"></ion-icon></button>
      </ion-fab>

    </ion-list>

    <ion-list *ngSwitchCase="'usuarios'" style="color: #000">

      <ion-item class="grupoListaItem" *ngFor="let item of meusGrupos" (click)="abreGrupo(item)">
        <ion-icon name="md-contacts" item-left></ion-icon>
          {{item.nome}}
        <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
      </ion-item>
      <ion-fab center bottom>
        <button ion-fab color="light" (click)="criarGrupo()"><ion-icon name="person-add"></ion-icon></button>
      </ion-fab>
    </ion-list>
  </div>





</ion-content>

<!--

<ion-list style="color: #000">

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 1
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 2
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 3
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 4
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 5
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 6
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>

<ion-item class="grupoListaItem">
  <ion-icon name="md-contacts" item-left></ion-icon>
    Grupo 7
  <ion-icon name="md-arrow-round-forward" item-right></ion-icon>
</ion-item>


</ion-list>

-->
