/* LOGIN */


.login {
    margin-top: 22% !important;
}

#textoEsqueceuSenha {
    text-align: center;
}

#linkEsqueceuSenha {
    color: #468fee; text-decoration: none;
}

#linkEsqueceuSenha:active {
    color: #4653ee;
}

#textoCriarConta {
    margin-top: 5%; text-align: center;
}

#textoNaoTemConta {
  color: #fff;
}

#textoCriarConta {
    color: #468fee; text-decoration: none;
}

#textoCriarConta:active {
    color: #fff;
}
