.evento {

}

.evento-data {
    font-family: "Tahoma";
    color: #081522;
    text-align: center;
}

.evento-data h3 {
	font-size: 40px;
	line-height: 1rem;
  margin-top: -0.3rem;
  padding-top: 16px;
}

.evento-data h4 {
	font-size: 15px;
}
