<ion-header>
  <ion-navbar>
    <ion-title>Cadastrar Evento</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="cadastrar-evento bg-branco">

  <form class="formCadastrarEvento" #eventoForm="ngForm" novalidate>

    <ion-item class="itemCadastrarEvento">
      <ion-label stacked class="labelCadastrarEvento">Nome do evento</ion-label>
      <ion-input  type="text" [(ngModel)]="eventoCad.titulo"  ngModel name="titulo" #titulo="ngModel" required></ion-input>
    </ion-item>

    <ion-item class="itemCadastrarEvento">
      <ion-label stacked class="labelCadastrarEvento">Descrição</ion-label>
      <ion-textarea rows="3"  type="text" [(ngModel)]="eventoCad.descricao"  ngModel name="descricao" #descricao="ngModel" required></ion-textarea>
    </ion-item>

    <ion-item class="itemCadastrarEvento">
      <ion-label stacked class="labelCadastrarEvento">Data</ion-label>
      <ion-datetime class="inputModificado2" displayFormat="DD/MM/YYYY" [(ngModel)]="eventoCad.dtInicioString" ngModel name="dtInicioString" #dtInicioString="ngModel" required></ion-datetime>
    </ion-item>

    <ion-row class="rowCad">

      <ion-col class="rowCad" width-50>

        <ion-item class="itemCadastrarEvento">
          <ion-label stacked class="labelCadastrarEvento">Hora inicial</ion-label>
          <ion-datetime class="inputModificado2" displayFormat="HH:mm" [(ngModel)]="eventoCad.hrInicial" ngModel name="hrInicial" #hrInicial="ngModel" required></ion-datetime>
        </ion-item>

      </ion-col>

      <ion-col class="rowCad" width-50>

        <ion-item class="itemCadastrarEvento">
          <ion-label stacked class="labelCadastrarEvento">Hora final</ion-label>
          <ion-datetime class="inputModificado2" displayFormat="HH:mm" [(ngModel)]="eventoCad.hrFinal" ngModel name="hrFinal" #hrFinal="ngModel" required></ion-datetime>
        </ion-item>

      </ion-col>

    </ion-row>

    <ion-item class="itemCadastrarEvento">
      <ion-label stacked class="labelCadastrarEvento">Lembrete</ion-label>
      <ion-select [(ngModel)]="eventoCad.lembrete1" ngModel name="lembrete1" #lembrete1="ngModel" required>
        <ion-option value="1">30 min antes</ion-option>
        <ion-option value="2">1 hr antes</ion-option>
        <ion-option value="3">2 hrs antes</ion-option>
        <ion-option value="4">4 hrs antes</ion-option>
        <ion-option value="5">8 hrs antes</ion-option>
        <ion-option value="6">12 hrs antes</ion-option>
        <ion-option value="7">1 dia antes</ion-option>
        <ion-option value="8">2 dias antes</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="itemCadastrarEvento">
      <ion-label stacked class="labelCadastrarEvento">Lembrete 2</ion-label>
      <ion-select  [(ngModel)]="eventoCad.lembrete2" ngModel name="lembrete2" #lembrete2="ngModel" required>
        <ion-option value="1">30 min antes</ion-option>
        <ion-option value="2">1 hr antes</ion-option>
        <ion-option value="3">2 hrs antes</ion-option>
        <ion-option value="4">4 hrs antes</ion-option>
        <ion-option value="5">8 hrs antes</ion-option>
        <ion-option value="6">12 hrs antes</ion-option>
        <ion-option value="7">1 dia antes</ion-option>
        <ion-option value="8">2 dias antes</ion-option>
      </ion-select>
    </ion-item>



    <button ion-button full *ngIf="!isGrupoEvento" block  style="color: #209760; margin-left: 5px; margin-right: 5px;" [disabled]="!eventoForm.valid" (click)="funcaoPraAceitarSubmeterForm(eventoForm)">
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>

    <button ion-button full *ngIf="isGrupoEvento" block  style="color: #209760; margin-left: 5px; margin-right: 5px;" [disabled]="!eventoForm.valid" (click)="cadastraEventoGrupo(eventoForm)">
      <ion-icon name="settings"></ion-icon>
    </button>


  </form>

</ion-content>
